<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Custom Django Auth System</title>
</head>
<body>
    <div id="signin-page">
        {% block header %}
            <div class="page-head">
                <h1>Custom Django Auth System</h1>
            </div>
        {% endblock header %}
        <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

        <form method="post">
            {% csrf_token %}
            {{ form.email.errors }}
            <p>
                <label for="id_email">Email address:</label>
                {{ form.email }}
                <input type="submit" value="Reset my password" />
            </p>
        </form>
    </div>
</body>
</html>
