<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Custom Django Auth System</title>
</head>
<body>
    <div id="signin-page">
        {% block header %}
            <div class="page-head">
                <h1>Custom Django Auth System</h1>
            </div>
        {% endblock header %}
        <form id="login_form" method="post" action="/login/">
            {% csrf_token %}
            <div class="credentials">
                <label>Username:</label>
                <input type="text" name="username" id="username"/>
            </div>
            <div class="credentials">
                <label>Password:</label>
                <input type="password" name="password" id="password"/>
            </div>
            <input type="submit" name="submit" id="login_button" value="Login" />
            <input type="hidden" name="next" value="{{ next }}" />
            <a href="{% url 'accounts:password_reset' %}">Password reset</a>
        </form>
    </div>
</body>
</html>
